h1 div {
    /*font: 26px Monaco, MonoSpace;*/
    font: 1rem Avenir, MonoSpace;
    height: 50%;
    width: 5%;
    z-index: 1;
    /*left: 0;*/
    top: 0%;
    /*transform-origin: bottom center;*/
}

/*Jobs*/
.vpachar1 {
    transform: translateX(-50%) rotate(48deg);
    transform-origin: 50% 100%;
}

.vpachar2 {
    transform: translateX(-50%) rotate(52deg);
    transform-origin: 50% 100%;

}

.vpachar3 {
    transform: translateX(-50%) rotate(56deg);
    transform-origin: 50% 100%;
}

.vpachar4 {
    transform: translateX(-50%) rotate(60deg);
    transform-origin: 50% 100%;
}

.vpachar5 {
    transform: translateX(-50%) rotate(64deg);
    transform-origin: 50% 100%;
}

.vpachar6 {
    transform: translateX(-50%) rotate(68deg);
    transform-origin: 50% 100%;
}

.vpachar7 {
    transform: translateX(-50%) rotate(72deg);
    transform-origin: 50% 100%;
}

.vpachar8 {
    transform: translateX(-50%) rotate(76deg);
    transform-origin: 50% 100%;
}

.vpachar9 {
    transform: translateX(-50%) rotate(80deg);
    transform-origin: 50% 100%;
}

.vpachar10 {
    transform: translateX(-50%) rotate(84deg);
    transform-origin: 50% 100%;
}

.vpachar11 {
    transform: translateX(-50%) rotate(88deg);
    transform-origin: 50% 100%;
}

.vpachar12 {
    transform: translateX(-50%) rotate(92deg);
    transform-origin: 50% 100%;
}

.vpachar13 {
    transform: translateX(-50%) rotate(96deg);
    transform-origin: 50% 100%;
}

.vpachar14 {
    transform: translateX(-50%) rotate(100deg);
    transform-origin: 50% 100%;
}

.vpachar15 {
    transform: translateX(-50%) rotate(104deg);
    transform-origin: 50% 100%;
}

.vpachar16 {
    transform: translateX(-50%) rotate(108deg);
    transform-origin: 50% 100%;
}

.vpachar17 {
    transform: translateX(-50%) rotate(112deg);
    transform-origin: 50% 100%;
}

.vpachar18 {
    transform: translateX(-50%) rotate(116deg);
    transform-origin: 50% 100%;
}

.vpachar19 {
    transform: translateX(-50%) rotate(120deg);
    transform-origin: 50% 100%;
}

.vpachar20 {
    transform: translateX(-50%) rotate(124deg);
    transform-origin: 50% 100%;
}

/*Gains*/

.vpachar21 {
    transform: translateX(-50%) rotate(286deg);
    transform-origin: 50% 100%;
}

.vpachar22 {
    transform: translateX(-50%) rotate(290deg);
    transform-origin: 50% 100%;
}

.vpachar23 {
    transform: translateX(-50%) rotate(294deg);
    transform-origin: 50% 100%;
}

.vpachar24 {
    transform: translateX(-50%) rotate(298deg);
    transform-origin: 50% 100%;
}

.vpachar25 {
    transform: translateX(-50%) rotate(302deg);
    transform-origin: 50% 100%;
}

.vpachar26 {
    transform: translateX(-50%) rotate(306deg);
    transform-origin: 50% 100%;
}

.vpachar27 {
    transform: translateX(-50%) rotate(310deg);
    transform-origin: 50% 100%;
}

.vpachar28 {
    transform: translateX(-50%) rotate(314deg);
    transform-origin: 50% 100%;
}

.vpachar29 {
    transform: translateX(-50%) rotate(318deg);
    transform-origin: 50% 100%;
}

.vpachar30 {
    transform: translateX(-50%) rotate(322deg);
    transform-origin: 50% 100%;
}

.vpachar31 {
    transform: translateX(-50%) rotate(326deg);
    transform-origin: 50% 100%;
}

.vpachar32 {
    transform: translateX(-50%) rotate(330deg);
    transform-origin: 50% 100%;
}

.vpachar33 {
    transform: translateX(-50%) rotate(334deg);
    transform-origin: 50% 100%;
}

.vpachar34 {
    transform: translateX(-50%) rotate(338deg);
    transform-origin: 50% 100%;
}

.vpachar35 {
    transform: translateX(-50%) rotate(342deg);
    transform-origin: 50% 100%;
}

.vpachar36 {
    transform: translateX(-50%) rotate(346deg);
    transform-origin: 50% 100%;
}

.vpachar37 {
    transform: translateX(-50%) rotate(350deg);
    transform-origin: 50% 100%;
}

.vpachar38 {
    transform: translateX(-50%) rotate(354deg);
    transform-origin: 50% 100%;
}

.vpachar39 {
    transform: translateX(-50%) rotate(358deg);
    transform-origin: 50% 100%;
}

.vpachar40 {
    transform: translateX(-50%) rotate(2deg);
    transform-origin: 50% 100%;
}

.vpachar41 {
    transform: translateX(-50%) rotate(6deg);
    transform-origin: 50% 100%;
}

/*Gains*/

.vpachar42 {
    transform: translateX(-50%) rotate(168deg);
    transform-origin: 50% 100%;
}

.vpachar43 {
    transform: translateX(-50%) rotate(172deg);
    transform-origin: 50% 100%;
}

.vpachar44 {
    transform: translateX(-50%) rotate(176deg);
    transform-origin: 50% 100%;
}

.vpachar45 {
    transform: translateX(-50%) rotate(180deg);
    transform-origin: 50% 100%;
}

.vpachar46 {
    transform: translateX(-50%) rotate(184deg);
    transform-origin: 50% 100%;
}

.vpachar47 {
    transform: translateX(-50%) rotate(188deg);
    transform-origin: 50% 100%;
}

.vpachar48 {
    transform: translateX(-50%) rotate(192deg);
    transform-origin: 50% 100%;
}

.vpachar49 {
    transform: translateX(-50%) rotate(196deg);
    transform-origin: 50% 100%;
}

.vpachar50 {
    transform: translateX(-50%) rotate(200deg);
    transform-origin: 50% 100%;
}

.vpachar51 {
    transform: translateX(-50%) rotate(204deg);
    transform-origin: 50% 100%;
}

.vpachar52 {
    transform: translateX(-50%) rotate(208deg);
    transform-origin: 50% 100%;
}

.vpachar53 {
    transform: translateX(-50%) rotate(212deg);
    transform-origin: 50% 100%;
}

.vpachar54 {
    transform: translateX(-50%) rotate(218deg);
    transform-origin: 50% 100%;
}

.vpachar55 {
    transform: translateX(-50%) rotate(222deg);
    transform-origin: 50% 100%;
}

.vpachar56 {
    transform: translateX(-50%) rotate(226deg);
    transform-origin: 50% 100%;
}

.vpachar57 {
    transform: translateX(-50%) rotate(230deg);
    transform-origin: 50% 100%;
}

.vpachar58 {
    transform: translateX(-50%) rotate(234deg);
    transform-origin: 50% 100%;
}

.vpachar59 {
    transform: translateX(-50%) rotate(238deg);
    transform-origin: 50% 100%;
}

.vpachar60 {
    transform: translateX(-50%) rotate(242deg);
    transform-origin: 50% 100%;
}

.vpachar61 {
    transform: translateX(-50%) rotate(246deg);
    transform-origin: 50% 100%;
}

.vpachar62 {
    transform: translateX(-50%) rotate(250deg);
    transform-origin: 50% 100%;
}