body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vl {
  background: black;
  margin: 0px;
  position: absolute;
  transform-origin: 0% 0%;
}

.trendCard{
  border-color: crimson!important;
}

.btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #fff!important;
}

.btn{
  border: 1px solid!important;
}